[submodule "third_party/isolate"]
	path = third_party/isolate
	url = https://github.com/ioi/isolate
[submodule "third_party/testlib"]
	path = third_party/testlib
	url = https://github.com/MikeMirzayanov/testlib
